.modal{

    &-layout{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba($color-black, 0.2);
    z-index: 1000;
    }

    &-box{
        position: fixed;
        top: 50vh;  
        left: 50vw;
        background-color: $color-white;
        transform: translate(-50%, -50%);
        z-index: 1000;
        border-radius: 1rem;

        &__heading{
            margin: 2rem 7rem;
        }
        &__list{
            text-align: center;
        }
        &__item{
            border-top:1px solid rgba($color-grey, 0.4) ;
            padding: 1rem 4rem;
            cursor: pointer;
        & > label {
            cursor: pointer;
        }
        }
    }
}
