.newpost{
    &__head{
        padding: 1rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid $color-grey-light-2;
    }
    &__main{
        padding: 1rem;
        border-bottom: 2px solid $color-grey-light-2;
    }
    
    &__input-text{
        width: 100%;
        height: 13rem;
        padding: 1rem;
        background-color: rgb(250, 250, 250);
        overflow: hidden;
        overflow-wrap: break-word;

        &:focus-visible{
            border: none;
            outline: none;
        }
        
    }
    &__media { 
        
        & > svg{
            width: 3rem !important;
            height: 3rem;

            

            &:hover{
                color:aqua;
            }
        }
        &-disabled {
            & > svg{
            color: $color-grey-dark-2;
            &:hover{
                color:$color-grey-dark-2;
            }
        }
        }
    }
} 

.file-privew{
    display: flex;
    flex-wrap: wrap;

    &__item{
    position: relative;
    width: 100px;
        height: 150px;

        & > img {
            width: 100px;
            height: 150px;
            object-fit: cover;
        }
    }
   &__close {
    position: absolute;
    top: .5rem;
    right: .5rem;
    cursor: pointer;
}

}

.nopost{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5rem;
    &-no{
        margin: auto;
    }
    &-to{
        & > a{
            color: blue;
        }
    }
}