.post{
    width: 100%;
    max-height: 100rem;
    border: 1px solid $color-grey-light-1;
    box-shadow: 0px 0px 2px 0px $color-grey-light-3;
    display: flex;
    padding: 1.5rem;
    overflow: hidden;
    color: $color-black;
    z-index: 10;

    &:hover {
        background-color: $color-grey-light-1;
        cursor: pointer;
    }
 
    &__pimg {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }
    &__main {
        display: flex;
        flex-direction: column;
        flex-grow: 1;
        padding-left: 1rem;
    }
    &__header{
        width: 100%;
        display: flex;
        align-items: center;
        font-size: 2rem;
        display: flex;
        justify-content: space-between;
        z-index: 11;

        &-info {
            display: flex;
            color: $color-grey-dark-3;
            & > div:hover {
                text-decoration: underline;
            }
        }
        &-username {
            margin-left: 5px;
            &:hover {
                text-decoration: underline;
            }
        }
    }
    &__text {
        white-space: pre-wrap;
        max-height: 22rem;
        overflow-wrap: break-word;
        overflow-y: hidden;
    }
    &__footer{
        height: 5rem;
        width: 100%;
        display: flex;
        text-align: center;
        align-items: center;
        padding: 0 2rem;
        justify-content: space-around; 
        z-index: 30; 
        
    }
    &__comments {
        min-height: 2rem;
        width: 100%;
        
        &__add-com {
            display: flex;
            width: 100%;
            &-main {
                display: flex;
                flex-direction: column;
                flex-grow: 1;
                margin-left: 5px;
            }
            &-input{
                font-size: 1.7rem;
                width: 100%;
                min-height: 5rem;
                max-height: 22rem;
                overflow-y: scroll;
                border: none;
                padding: 10px;
                resize: both;
                &:focus-visible{
                    outline: none;

                }
            }
            &-foot {
                margin-top: 5px;
                display: flex;
                justify-content: space-between;
            }
        }
    }
}

.image-slider{
    width: 100%;
    max-height: 50rem;
    z-index: 20;

    &__box{
        max-width: 100%;
        max-height: 50rem;
        position: relative;
        display: flex;
        // flex-direction: column;
        border-radius: 1rem;
        overflow: hidden;

        &-left, &-right {
            max-width: 100%;
            max-height: 50rem;
            position: relative;
            display: flex;
            border-radius: 1rem;
            overflow: hidden;
            
        }
        &-left-2 {
            width: 100%; 
            height: 50rem;
            display: flex;
            flex-direction: row;
        }
        &-left-3 {
            width: 50%; 
            height: 50rem;
            display: flex;
            flex-direction: column;
        }
        &-left-4 {
            width: 50%; 
            height: 50rem;
            display: flex;
            flex-direction: column;
        }
        &-right-2 {
            width: 50%; 
            height: 50rem;
            flex-direction: column;
        }
        &-right-3 {
            width: 50%; 
            height: 50rem;
            flex-direction: column;
        }
        
        &-img{
            max-width: 100%;
            width: 50rem;
            max-height: 50rem;
            object-fit: cover;
            margin: 1px;
            @include respond(phone) {
                width: auto;
            }
            &-2{
                // max-width: 100%;
                width: 49%;
                // max-height: 50rem;
                height: 99%;
                object-fit: cover;
                margin: 1px;
            }
            &-3{
                // max-width: 100%;
                width: 99%;
                // max-height: 50rem;
                height: 49%;
                object-fit: cover;
                margin: 1px;
            }
            &-r3{
                // max-width: 100%;
                width: 99%;
                // max-height: 50rem;
                height: 99%;
                object-fit: cover;
                margin: 1px;
            }
            &-4{
                // max-width: 100%;
                width: 99%;
                // max-height: 50rem;
                height: 49%;
                object-fit: cover;
                margin: 1px;
            }
            &-nor {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    } 
    
    &__btn{
        position: absolute;
        width: 4rem;
        height: 4rem;
        z-index: 10;
        background-color: rgba($color-white, 0.62);
        border-radius: 50%;
        font-size: 2rem;
        box-shadow: 0px 0px 8px 1px $color-grey-light-2;
        &:focus-visible, &:focus{
            outline: none;
        }

    &-inc{
        right: 2rem;
        top: 50%;
    }
    &-dec{
        left: 2rem;
        top: 50%;
    }}
}

.not-paid{
    width:100%;
    height: 45rem;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;

    &__lock{
        position: absolute;
        top: 42%;
        left: 47%;
        color: $color-grey-light-2;
        font-size: 5rem;
        transform: translate(-50%,-50%);

        &:hover{
            color: $color-primary;
        }
    }
    &__price{
        margin: 2rem;
        width: -webkit-fill-available;
        text-align: center;
    }
}

.fullImg {
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba($color-black, 0.9);
    width: 100vw;
    height: 100vh;
    display: flex;
    z-index: 30;
    display: flex;
    justify-content: center;
    // position: relative;
    z-index: 201;

    &__icon {
        width: 3.6rem;
        height: 3.6rem;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        font-size: 2rem;
        color: $color-white;
        background-color: $color-black;
        position: absolute;
        z-index: 31;
        &:hover {
            background-color: $color-grey-dark-3;
        }
        &-time {
            top: 1.2rem;
            left: 1.2rem;
        }
        &-right {
            top: 50%;
            right: 1rem;
        }
        &-left {
            top: 50%;
            left: 1rem;
        }
        &-more {
            top: 1.2rem;
            right: 1rem;
        }

        @include respond(tab-port) {
        width: 4rem;
        height: 4rem;
        font-size: 2.4rem;
        }
    }
    &__imgbox {
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        @include respond(phone) {
            align-items: center;
        }

        & > img {
            max-width: 100%;
            max-height: 100%;
            width: 100vw;
            height: 100vh;
            object-fit: contain;

        }
    }
}

.comment__post {
    display: flex;
    margin-top: 1rem;
    &-main {
        margin-left: 10px;
        display: flex;
        flex-grow: 1;
        width: 100%;
        flex-direction: column;
        &-con {
            display: flex;
            justify-content: space-between;
            &-head {
                display: flex;
            
            & > a{
            color: $color-black;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        }
    }
    &-text {
        width: 100%;
    }
    &-img {
        width: 5rem;
        height: 5rem;
        border-radius: 50%;
    }
}