.dashboard{
    display: flex;
    width: 100%;
    height: 100vh;
    justify-content: center;
    margin: auto;

    &__togglebar{
        display: none;
        @include respond(phone) {
            display: block;
        }
    }
    @include respond(tab-land) {
        width: 100%;
    }
    @include respond(phone) {
        height: 100vh;
    }
  
    &__leftbar{
        width: 30rem;
        height: 100vh;
        position: sticky;
        top: 0;
        z-index: 20;
        flex-shrink: 0;

        @include respond(tab-land) {
            display: flex;
            justify-content: center;
            width: 5vw;
        }
        @include respond(tab-land) {
            width: 8vw;
        }
        @include respond(phone) {
            display: none;
        }
    }

    &__phonebar{
        display: none;

    @include respond(phone){
        display: inline;
        position: absolute;
        bottom: 0;
        left: 0;
        z-index: 100;
    }
}


    &__main{
       flex-grow: 1;
        border: 2px solid $color-grey-light-2;
        z-index: 10;

        @include respond(tab-land) {
            width: 70vw;
        }
        @include respond(tab-port) {
            width: 70rem;
            max-width: 70rem!important;
        }
        @include respond(phone) {
            width: 100vw;
            border: none;
        }
    }

    &__rightbar{
        width: 32rem;
        height: 100vh;
        position: sticky;
        padding: 2rem;
        top: 0;
        @include respond(tab-land) {
            width: 30vw;
        }
        @include respond(tab-port) {
            display: none;
        }
    }
}

.phonebar{
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100vw;
    height: 8vh;
    padding: 0 2rem;

    &__link--icon{
        color: $color-grey-dark-3;
        font-size: 3rem;
        
    }
}

.profile {
    height: 100%;
    overflow-y: scroll;
}